/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > .navWrap {
	position: fixed;
	z-index: 9999;
	right: 0px;
	width: 75px;
	height: 100%;
	background-color: #000000;
}

.cbp-fbscroller > .navWrap > nav {
  position: relative;
  top: 50%;
  height: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);}

.cbp-fbscroller > .navWrap > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 13px;
	height: 13px;
	outline: none;
	margin: 20px auto;
	border-radius: 50%;
	border:2px solid #ffffff;
	background-color: rgba(0,0,0,1);
}

.no-touch .cbp-fbscroller > .navWrap > nav a:hover {
	background: rgba(255,255,255,0.2);
}

.cbp-fbscroller > .navWrap > nav a.cbp-fbcurrent {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection1 {
}

#fbsection2 {
	background-image: url(../images/2.jpg);
}

#fbsection3 {
	background-image: url(../images/3.jpg);
}

#fbsection4 {
	background-image: url(../images/4.jpg);
}

#fbsection5 {
	background-image: url(../images/5.jpg);
}

