@font-face {
    font-family: proxSemiBold;
    src: url(../fonts/proxima_nova_sbold-webfont.woff);
}


.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 99999999999;
}

.logo a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.logo a:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* IE 9 */
	-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
}

.polyBg {
	background-image: url(../images/polygon-background.png);
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.desk {
	background-image: url(../images/desk.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -20;
}

.cssGrad {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -10;
	opacity: 0.8;
}

.zIndexWrap {
	z-index: 99;
	position: relative;
	height: 100%;
	width: 100%;
}

.screenVertical {
	text-align:center;
	height:100%;
	}

.screenVertical:before {
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;}

.centered {
	display:inline-block;
	vertical-align:middle;
	width:90%;
	}

#fbsection1 {
	color: #ffffff;
	font-family: proxSemiBold;
	letter-spacing: 20px;
	font-size: 1.5em;
}

.script {
	font-family: 'Playball', cursive;
}

#fbsection1 .script {
	font-size: 75px;
	letter-spacing: normal;
	line-height: 75px;
}









